/* You can add global styles to this file, and also import other style files */
.main-container {
    background-image: url('.././src/assets/img/home.png');
    background-size: cover;
    min-height: 100vh;
    color: aliceblue;
}